main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  margin: auto;
  width: 80%;
  max-width: 600px;
  max-height: 600px;
  padding: 50px 35px;
  border-radius: 10px;
  background-color: var(--color-gray);
}

.title {
  align-self: stretch;
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-title);
  text-align: center;
}

.instructions {
  width: 65%;
  margin: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
  align-self: stretch;
}

.button {
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  transition: var(--transition-duration);

  &:focus {
    outline: 2px dashed var(--color-bg);
    outline-offset: 2px;
  }
}

.button-roll {
  min-width: 125px;
  padding: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  background-color: var(--color-accent);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--color-accent-hover);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
