.die {
  padding: 0;
  aspect-ratio: 1 / 1;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-title);
  background-color: var(--color-white);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);

  &:hover {
    transform: scale(1.05);
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
  }

  &:active {
    transform: scale(1);
  }
}

.die.selected {
  background-color: var(--color-select);
}
