* {
  box-sizing: border-box;
}

:root {
  --color-bg: #0b2434;
  --color-gray: #f5f5f5;
  --color-main-text: #4a4e74;
  --color-title: #2b283a;
  --color-select: #59e391;
  --color-accent: #5035ff;
  --color-accent-hover: #2a189e;
  --color-white: #ffffff;

  --transition-duration: 0.25s;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-main-text);
  background-color: var(--color-bg);
}

#root {
  display: grid;
  height: 100%;
}
