.result-container {
  position: absolute;
  left: center;
  top: 15px;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-accent-hover);

  p {
    margin: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: 1s;
  }

  p.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}
